{
	email admin@redhanded-game.com
}

{$WEB_DOMAIN} {
	encode gzip zstd
	reverse_proxy web:80
}

{$API_DOMAIN} {
	encode gzip zstd
	reverse_proxy api:3001 {
		header_up Host {host}
		header_up X-Real-IP {remote}
		header_up X-Forwarded-For {remote}
		header_up X-Forwarded-Proto {scheme}
	}
}
